<h1>Messages</h1>

<div class="row">
  <div class="col-md-8">

    <% @messages.each do |message| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to message.subject, message %>
          </h4>
          <small>
            <% if message.user_id === current_user.id %>
                  <% msgUser = User.where(email: message.recipient_email) %>
            To: <%= msgUser.pluck(:first_name).first%>
                <%= msgUser.pluck(:last_name).first%> -
                <%= msgUser.pluck(:role).first%>

            <%else%>
                   <% msgRetr = User.where(id: message.user_id) %>
            From: <%= msgRetr.pluck(:first_name).first%>
                  <%= msgRetr.pluck(:last_name).first%> -
                  <%= msgRetr.pluck(:role).first%>
            <%end%>
          </small>
        </div>
      </div>
    <%end%>
  </div>

  <%= link_to "New Chat", new_message_path, class: 'btn btn-success' %>
  <%= link_to 'Back', root_path, class: 'btn btn-default' %>

</div>
