<h1>New Message</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for @message do |f| %>
      <div class="form-group">
        <%= f.label :subject %>
        <%= f.text_field :subject, class: 'form-control', placeholder: "Subject" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter your message" %>
      </div>

      <div class="form-group">
        <%= f.label :recipient_email %>
        <%=f.select :recipient_email, options_for_select(User.where.not(id: current_user.id).collect {|user| ["#{user.first_name}  #{user.last_name}  #{user.role}", user.email] }), :include_blank => true%>
      </div>


      <%= f.submit "Send", class: 'btn btn-success' %>
      <%= link_to 'Back', messages_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
